@model IEnumerable<ASP.NET_MVC.Models.Product>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("New product", "Create")
</p>

@using (Html.BeginForm())
{
    <p class="bg-info">
        Find by product name: @Html.TextBox("Search") <input type="submit" value="Search" />
    </p>
}

<table class="table">
    <tr>
        <th>
            @Html.ActionLink("Name", "Index", new { sort = ViewBag.NameSortParam })
        </th>

        <th>
            @Html.ActionLink("Price", "Index", new { sort = ViewBag.PriceSortParam })
        </th>

        <th>
            @Html.ActionLink("IsActive", "Index", new { sort = ViewBag.IsActiveSortParam })
        </th>

        <th>
            @Html.ActionLink("Created", "Index", new { sort = ViewBag.CreatedSortParam })
        </th>

        <th>
            @Html.ActionLink("Modified", "Index", new { sort = ViewBag.ModifiedSortParam })
        </th>

        <th>
            @Html.ActionLink("Category name", "Index", new { sort = ViewBag.CategoryNameSortParam })
        </th>

        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(Item => item.Name)
        </td>
        <td>
            @Html.DisplayFor(Item => item.Price)
        </td>
        <td>
            @Html.DisplayFor(Item => item.IsActive)
        </td>
        <td>
            @Html.DisplayFor(Item => item.Created)
        </td>
        <td>
            @Html.DisplayFor(Item => item.Modified)
        </td>
        <td>
            @Html.DisplayFor(Item => item.Category.Name)
        </td>
        
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
